<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IronSmalltalk.Tools.ClassLibraryBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IronSmalltalk.Tools.ClassLibraryBrowser.Properties.Settings>
            <setting name="LastFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFileoutFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWorkspaceOpenFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWorkspaceSaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWorkspaceEvaluateText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWorkspaceInstallText" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </IronSmalltalk.Tools.ClassLibraryBrowser.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
